{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Let's Chat</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body style="background-image: url('{% static 'img\b1.png' %}')">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">Let's Chat</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                  
                  <li><a href="{% url 'notes' %}"><span class="glyphicon glyphicon-edit"></span> Take Notes</a></li>
                  <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                
              </ul>
            </div>
          </nav>
          
          
          <table class="table">
            <thead class="thead" style="background-color:#003380;color:white;">
              <tr>
                
                <th scope="col" style="text-align: center;">{{data}} </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                
                <form method="post" action="{% url 'chatting' %}">
                    {% csrf_token %}
                    <td scope="col" style="text-align: center;">
                        <input type="text" class="input-lg" placeholder="Type a message" name="msg">
                        <button type="submit"><b>Send</b></button>
                        
                    </td>
                  <td></td>
                
              </tr>

              {% for  x in message %}
              
                  
                  
                      <tr>        
                        
                        <th scope="col" style="text-align: center; ">{{x.msg}}</th>
                        <td></td>
                  
                      </tr>
              {% endfor %}
              
            </tbody>
          </table>
           
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
        <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
        
    </body>
</html>